# Default direnv // asdf hook integration
# Install hooks with `asdf direnv setup --shell zsh --version latest && asdf direnv setup --shell bash` if you have `source "$HOME/.asdf/asdf.sh"` in your .zshrc`
export DIRENV_LOG_FORMAT=""
use asdf 2>/dev/null || echo 'asdf not found'
export DIRENV_WARN_TIMEOUT='10s'
source_env_if_exists "$HOME/.envrc" # Load my $HOME/.envrc for user defaults
